/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
@use 'sass:color';

.popup-container {
    .popup-title {
        text-align: center;
    }
}


div.dialog-button {
  background: linear-gradient(-70deg, #37474F 84%, #212121 16%);
}


$lightFeatures: (
    "transitstation": "#5E3408",
    "museum": "#0D3B66",
    "zoo": "#A663CC",
    "graveyard": "#03071E",
    "custom": "#C2095A",
);

@each $name, $hex in $lightFeatures {
    .leaflet-popup-content-wrapper:has(.popup-#{$name}) {
        background: linear-gradient(180deg, #{$hex} 0%, #{$hex} 15%, #ECEFF1 80%);
        color: white;
    }
}


$darkFeatures: (
    "airport": "#FFFCF2",
    "movietheater": "#F4D666",
    "hospital": "#EB5E28",
    "library": "#FAF0CA",
    "aquarium": "#669BBC",
    "park": "#84A98C",
);

@each $name, $hex in $darkFeatures {
    .leaflet-popup-content-wrapper:has(.popup-#{$name}) {
        background: linear-gradient(180deg, #{$hex} 0%, #{$hex} 15%, #ECEFF1 80%);
        color: black;
    }
}

